# Node dependencies
node_modules/
.yarn/

# Build output
build/

# Logs
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# OS and editor artifacts
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Webpack cache
.cache/
.next/

# Testing coverage
coverage/

# Certs
cert/
certs/
*.pem
*.crt
*.key
cert.base64
key.base64

# Ignore everything in dist/
dist

# Miscellaneous
.vite
.yarn/install-state.gz
tsconfig.tsbuildinfo
.yarn
.pnp.*
